trigger: none
#  branches:
#    include:
#      - main
#      - feature/01

pool:
 name: Default

stages:
  - stage: ci
    displayName: Build
    jobs:
      - job: JavaBuild
        displayName: Build ho rha hai
        steps:
         - task: NodeTool@0
           inputs:
             versionSource: 'spec'
             versionSpec: '18.x'
         - task: Npm@1
           inputs:
             command: 'install'
             workingDir: '$(System.DefaultWorkingDirectory)'
         - task: Npm@1
           inputs:
             command: 'custom'
             workingDir: '$(System.DefaultWorkingDirectory)'
             customCommand: 'run build'
         - task: PublishPipelineArtifact@1
           inputs:
             targetPath: '$(Pipeline.Workspace)'
             artifact: 'drop'
             publishLocation: 'pipeline'

# -----------------------CD_Part-------------------------

  - stage: cd
    displayName: Deploy
    jobs:
      - job: 
        displayName: DeployeTODO
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'drop'
            targetPath: '$(Pipeline.Workspace)'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'VM1'
            sourceFolder: '$(Pipeline.Workspace)'
            contents: '**'
            targetFolder: '/home/admin123/test'
            readyTimeout: '20000'
        
