trigger:
 branches:
   include:
     - main
     - feature/01

pool:
 name: Test_Pool

stages:
  - stage: ci
    displayName: Build
    jobs:
      - job: JavaBuild
        displayName: Build ho rha hai
        steps:
         - task: NodeTool@0
           inputs:
             versionSource: 'spec'
             versionSpec: '18.x'
         - task: Npm@1
           inputs:
             command: 'install'
             workingDir: '$(System.DefaultWorkingDirectory)'
         - task: Npm@1
           inputs:
             command: 'custom'
             workingDir: '$(System.DefaultWorkingDirectory)'
             customCommand: 'run build'
         - task: PublishBuildArtifacts@1
           inputs:
             PathtoPublish: '$(Build.ArtifactStagingDirectory)'
             ArtifactName: 'drop'
             publishLocation: 'Container'
  

  # - stage: cd
  #   displayName: Deploy
