trigger: none

pool: Default

stages:
  - stage: Build
    displayName: Build creation
    jobs:
      - job: NodeJs
        displayName: NodejsInstallation
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '18.x'
          - task: Npm@1
            inputs:
              command: 'ci'
              workingDir: '$(System.DefaultWorkingDirectory)'
          - task: Npm@1
            inputs:
              command: 'custom'
              workingDir: '$(System.DefaultWorkingDirectory)'
              customCommand: 'run build'
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'
  - stage: Deploy
    displayName: TODODeploy
    jobs:
      - job: 
        steps:
        - task: DownloadBuildArtifacts@1
          inputs:
            buildType: 'current'
            downloadType: 'single'
            artifactName: 'drop'
            downloadPath: '$(System.ArtifactsDirectory)'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'TodoService'
            sourceFolder: '$(System.ArtifactsDirectory)'
            contents: '**'
            targetFolder: '/home/admin123'
            readyTimeout: '20000'
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'cp -r /home/admin123/* /var/www/html'
    
      