trigger: none
#  branches:
#    include:
#      - main
#      - feature/01

pool:
 name: Default

stages:
  - stage: ci
    displayName: Build
    jobs:
      - job: JavaBuild
        displayName: Build ho rha hai
        steps:
         - task: NodeTool@0
           inputs:
             versionSource: 'spec'
             versionSpec: '18.x'
         - task: Npm@1
           inputs:
             command: 'install'
             workingDir: '$(System.DefaultWorkingDirectory)'
         - task: Npm@1
           inputs:
             command: 'custom'
             workingDir: '$(System.DefaultWorkingDirectory)'
             customCommand: 'run build'
         - task: PublishPipelineArtifact@1
           inputs:
             targetPath: build
             artifact: 'drop'
             publishLocation: 'pipeline'

# # -----------------------CD_Part-------------------------

  - stage: cd
    displayName: Deploy
    jobs:
      - job: 
        displayName: DeployeTODO
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'drop'
            targetPath: '$(System.ArtifactsDirectory)'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'VM1'
            sourceFolder: '$(System.ArtifactsDirectory)'
            contents: '**'
            targetFolder: '/home/admin123/Test'
            readyTimeout: '20000'
        - task: SSH@0
          inputs:
            sshEndpoint: 'VM1'
            runOptions: 'commands'
            commands: |
              sudo apt-get update -y
              sudo DEBIAN_FRONTEND=noninteractive apt-get install -y nginx || true
              sudo cp -r /home/admin123/Test/* /var/www/html/
            readyTimeout: '20000'
        
